.notification {
  position: absolute;
  z-index: 9999;
  box-sizing: border-box;

  top: 96px;
  right: 4px;
  @media screen and (max-width: 600px) {
    top: 66px
  }
}

.notificationContainer {
  background-color: #9d9aa8;
  display: flex;
  position: relative;
  pointer-events: auto;
  padding: 12px;
  margin-bottom: 12px;
  width: 320px;
  min-height: 40px;
  border-radius: 8px;
  border-left-width: 4px;
  border-left-style: solid;
  box-shadow: 0 0 2px #999999;

  animation: pulse 5s alternate;

  &:hover {
    box-shadow: 0 0 4px #ffffff;
    opacity: 1;
    cursor: pointer;
  }

  .notificationMessage {
    padding-right: 20px;
    color: #000;
    font-weight: bold;
  }

  img {
    position: absolute;
    right: 12px;
    top: 14px;
    border: none;
    padding: 0 2px;
    cursor: pointer;
    width: 14px;
    height: 14px;
  }

  &.success {
    border-left-color: #289c5c;
  }

  &.info {
    border-left-color: #cccdd0;
  }

  &.error {
    border-left-color: #ff3f43;
  }
}


@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0
  }
}
