.paginator {
    margin-top: 20px;
    display: flex;
}

.container {
    height: 35px;
    margin: 0 auto;
    display: flex;
}

.pageNumber {
    cursor: pointer;
    text-align: center;
    height: 29px;
    padding-top: 6px;
    border-radius: 10px;
    background-color: #ffffff;
    outline: none;
    width: 40px;
    margin: 0 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    color: #1a122d;
    transition: .2s ease-in-out;
}

.pageNumber:hover {
    background-color: var(--secondary-color);
}

.selectedPage {
    background-color: var(--secondary-color);
}

.button {
    max-width: 45px;
    cursor: pointer;
    outline: none;
    color: #61dafb;
    margin: -6px 4px 0;
}

.buttonHidden {
    display: none;
}

@media screen and (max-width: 600px) {
    .paginator {
        height: 20px;
        margin-top: 10px;
    }

    .pageNumber {
        height: 20px;
        border-radius: 7px;
        width: 30px;
        padding-top: 2px;
        margin: 0 2px;
    }

    .button {
        height: 20px;
        margin: 0 2px 0;
    }
}
