@import "vars";
@import "reset";
@import "components";

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--body-bg-color);
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  max-width: var(--wrap-size);
  margin: 20px auto 0;
  display: flex;
  @media (max-width: 678px) {
    margin: 5px 5px 56px;
  }
}

.wrapper {
  width: 100%;
}
