:root {
  --body-bg-color: #f6f6fa;
  --wrap-bg-color: white;
  --head-bg-color: #1a122d;
  --b-w-text-color: black;
  --dark-blue-w-text-color: #1a122d;
  --gray-w-text-color: #9d9aa8;
  --color-block: #3827a0;
  --mininav-border-color: rgba(0, 0, 0, 1);
  --wrap-size: 1440px;
  --secondary-color: #6d57f6;
  --male-color: #61dafb;
  --female-color: #fa65ff;
}

[data-theme="dark"] {
  --font-color: #c1bfbd;
  --body-bg-color: #1e2027;
  --wrap-bg-color: #242630;
  --head-bg-color: #242630;
  --b-w-text-color: white;
  --dark-blue-w-text-color: white;
  --gray-w-text-color: white;
  --mininav-border-color: #9d9aa8;
}
