.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.infoBlock {
    margin-bottom: 20px;
    display: flex;
    height: 300px;
}

.mainInfo {
    width: 28%;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, var(--wrap-bg-color) 73%, var(--color-block) 27%);
}

.colorBlock {
    position: absolute;
    height: 27%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
    cursor: pointer;

    z-index: 1;
    left: 0;
    top: 0;
    border-radius: 10px 10px 0 0;
    -webkit-tap-highlight-color: transparent;
}

.chooserColor {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 180px;
    left: 35%;
    z-index: 3;
}

.mainPhoto {
    border-radius: 40px;
    width: 80px;
    height: 80px;
    border: #61dafb 2px solid;
    background-color: white;
    z-index: 2;
}

.mainInfo input {
    display: none;
}

.name {
    margin: 10px 0 0 0;
    color: var(--b-w-text-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
}

.status {
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    color: var(--dark-blue-w-text-color);
    overflow: hidden;
    height: calc(100% - 150px);
}

.description {
    width: calc(72% - 20px);
    margin-left: 20px;
    border-radius: 10px;
    background-color: var(--wrap-bg-color);
    padding: 40px;

    display: flex;
    flex-direction: column;
}

.aboutMe, .skills {
    height: 82px;
}

.description p {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    color: var(--secondary-color);
}

.description span {
    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    color: var(--dark-blue-w-text-color);
}

.contactsList {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

.contacts a {
    display: flex;
    width: 160px;
    margin: 20px 20px 0 0;
    align-items: center;
}

.contacts a img {
    margin-right: 5px;
}

.gitHubIcon {
    border-radius: 5px;
}

.vkIcon {
    border-radius: 5px;
}

.contacts a p {
    color: var(--gray-w-text-color);
    font-size: 8px;
}

.contacts a p:hover {
    color: var(--secondary-color);
}

.statusEdit input {
    display: block;
    border: 1px #d8d6dc solid;
    width: 100%;
    height: 38px;
    font-size: 16px;
    cursor: pointer;
    color: var(--gray-w-text-color);
}

@media screen and (max-width: 900px) {
    .infoBlock {
        margin-bottom: 10px;
    }

    .mainInfo {
        padding: 20px;
    }

    .description {
        margin-left: 10px;
        width: calc(72% - 10px);
        padding: 20px;
    }

    .edit {
        margin-top: 5px;
        max-width: 123px;
    }
}

@media screen and (max-width: 800px) {
    .contacts a {
        width: 160px;
        margin: 10px 20px 0 0;
    }
}

@media screen and (max-width: 600px) {
    .profile {
        margin-bottom: 50px;
    }

    .infoBlock {
        margin-bottom: 5px;
        flex-direction: column;
        height: initial;
    }

    .mainInfo {
        width: 100%;
        margin-bottom: 5px;
    }

    .description {
        margin-left: 0;
        width: 100%;
        height: auto;
    }

    .edit {
        height: 45px;
        border-radius: 30px;
    }
}

