.loginPage {
    background-color: var(--wrap-bg-color);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-top: 32px;
    @media screen and (max-width: 678px) {
        padding: 16px;
    }

    .loginWrap {
        margin: 0 auto;
        width: 678px;
        color: var(--b-w-text-color);
        display: flex;
        justify-content: space-around;
        @media screen and (max-width: 678px) {
            width: 100%;
            flex-direction: column;
        }
    }

    h2 {
        margin-bottom: 10px;
    }

    h4 {
        @media screen and (max-width: 678px) {
            text-align: center;
            margin-top: 16px;
        }
    }

    .login,
    .registration {
        display: flex;
        flex-direction: column;
    }

    .registration {
        h2 {
            @media screen and (max-width: 678px) {
                margin-top: 16px;
            }
        }
    }

    .button {
        margin-top: 10px;
    }

    .name, .surname, .mail, .password {
        margin-top: 10px;
    }
}
