.dialogs {
  padding: 32px;
  background-color: var(--wrap-bg-color);
  width: 100%;
  height: 515px;
  border-radius: 10px;
  display: flex;
  position: relative;

  @media screen and (max-width: 678px) {
    height: calc(100vh - 128px);
    padding: 0;
  }
}

.disableClicking {
  pointer-events: none;
}

.dialogsItems {
  min-width: 180px;
  overflow-x: hidden;
  @media screen and (max-width: 678px) {
    width: 100%;
    padding: 8px 12px 8px 8px;
    scroll-margin-right: 5px;
  }

  & > span { //preloader
    display: none;
    @media screen and (max-width: 678px) {
      display: block;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(109, 87, 246, 0.4);
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  .noChats {
    color: var(--b-w-text-color);
    margin-top: 12px;
    text-align: center;
  }

  .item {
    outline: none;
    border-radius: 10px;
    border: solid 1px var(--secondary-color);
    background-color: var(--body-bg-color);
    height: 50px;
    width: 160px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    @media screen and (max-width: 678px) {
      width: 100%;
    }

    &:hover {
      background-color: var(--secondary-color);
    }

    div {
      font-size: 14px;
      font-weight: 600;
      color: var(--b-w-text-color);
      outline: none;
    }

    img {
      width: 40px;
      margin-right: 10px;
      border: solid 2px #61dafb;
      border-radius: 25px;
      margin-left: 5px;
    }
  }

  .unreadTicket {
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    position: absolute;
    right: 6px;
    top: 6px;
    background-color: #f81c1c;
  }

  .activeTicket {
    display: block;
  }

  .activeDialogItem {
    background-color: var(--secondary-color);

    .userName {
      color: white;
    }
  }
}

.openDialogsItems {
  @media screen and (max-width: 678px) {
    display: none;
  }
}

.messages {
  width: 100%;
  margin-left: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  @media screen and (max-width: 678px) {
    display: none;
    margin: 8px;
    height: auto;
  }

  .topBlock {
    display: none;
    outline: none;
    border-radius: 10px;
    border: solid 1px var(--secondary-color);
    background-color: var(--body-bg-color);
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 0 8px;
    @media screen and (max-width: 678px) {
      display: flex;
    }

    .topBlockArrow {
      width: 20px;
      cursor: pointer;
    }

    .topBlockUser {
      display: flex;
      align-items: center;

      .topBlockPhoto {
        width: 32px;
        border: solid 2px #61dafb;
        border-radius: 25px;
      }

      .topBlockName {
        margin-right: 8px;
        color: var(--b-w-text-color);
      }
    }
  }

  .form {
    margin-top: 16px;
    @media screen and (max-width: 678px) {
      margin-top: 8px;
    }
  }
}

.openMessages {
  @media screen and (max-width: 678px) {
    display: flex;
  }
}

.messagesBlock {
  height: 100%;
  padding: 20px 10px 0;
  border-radius: 10px;
  border: 1px rgba(157, 154, 168, .3) solid;
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  & > span { //preloader
    position: absolute;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  .noMessages {
    margin: 100px auto;
    color: var(--b-w-text-color);
  }


  .hr {
    width: 100%;
    position: relative;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;

    .hrText {
      text-align: center;
      font-size: 14px;
      color: #9d9aa8;
      position: relative;
      width: fit-content;
      background-color: var(--wrap-bg-color);
      z-index: 1;
    }

    .hrLine {
      width: 100%;
      height: 1px;
      background-color: #9d9aa8;
      opacity: 0.5;
      position: absolute;
      bottom: 8px;
    }
  }

  .message {
    font-size: 18px;
    font-weight: 500;
    color: var(--b-w-text-color);
    outline: none;
    background-color: #9d9aa8;

    margin-bottom: 24px;
    width: fit-content;
    max-width: 650px;
    position: relative;
    border-radius: 40px;
    padding: 10px 20px;
    text-align: center;
    z-index: 3;
    @media screen and (max-width: 678px) {
      font-size: 14px;
      font-weight: 400;
      padding: 8px 12px;
      margin-bottom: 18px;
    }

    &:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      z-index: -1;

      border-left: 35px solid #9d9aa8;
      border-bottom: 20px solid transparent;
      left: 5px;
      bottom: -1px;
    }

    .messageText {
      z-index: 3;
    }

    .messageDate {
      width: max-content;
      position: absolute;
      left: 12px;
      bottom: -13px;

      font-size: 9px;
      color: #9d9aa8;
      @media screen and (max-width: 678px) {
        font-size: 8px;
      }
    }
  }

  .myMessage {
    align-self: flex-end;
    background-color: #816bff;
    color: white;

    .messageDate {
      text-align: right;
      left: auto;
      right: 12px;
    }

    &:before {
      border-left: none;
      border-right: 35px solid #816bff;
      border-bottom: 20px solid transparent;
      left: initial;
      right: 4px;
    }
  }
}
